body {
    color: #c5c9c5;
    background-color: #181616;
    font-family: cantarell,liberation,arial,helvetica,sans-serif
}

a:link {
    color: #6884c0;
    text-decoration: none;
}

a:visited {
    color: #7e9cd8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h3 {
    color: #b6927b;
    margin-left: 20px;
}

table {
    width: 100%;
}

td {
    vertical-align: top;
}

dt {
    color: #acafac;
    margin-left: 20px;
    margin-top: 5px;
}

dd {
    color: #c5c9c5;
    margin-left: 20px;
    padding-left: 15px;
}
