body {
  color: #c5c9c5;
  background-color: #181616;
  font-family: cantarell,liberation,arial,helvetica,sans-serif
}

a:link {
  color: #6884c0;
  text-decoration: none;
}

a:visited {
  color: #7e9cd8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  color: #b6927b;
}

h3 {
  color: #bbbbbb;
  margin-left: 15px;
}

table {
  width: 100%;
}

td {
  vertical-align: top;
  padding: 10px;
}
